[user]
	email = alex.dadgar@gmail.com
	name = Alex Dadgar

[color]
	ui = true

[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit

[core]
	editor = nvim
	excludesfile = /Users/alexdadgar/.config/git/ignore
    pager = delta

[push]
	default = simple

[credential]
	helper = osxkeychain

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    side-by-side = true
    theme = Monokai Extended Bright

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
